.button {
    display: flex;
    justify-content: space-between;
    transform: translateY(-100px);
}

.button > button {
    border: none;
    background: none;
    background: #fff;
    padding: 8px 16px;
    cursor: pointer;
    transition: 1 ease-in-out;
}

.button > button:hover {
    background: #000000;
    color: #fff;
}

@media (max-width: 768px) {
    .button {
        display: none;
    }
}
